$themeColor: rgba(152, 57, 255, 0.5);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}

body {
  font: 16px/1.5 "Helevtica Neue", Helevtica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .desc {
      display: flex;
      flex-wrap: wrap;
      min-width: 80vw;
      min-height: 70vh;
      .desc-text {
        flex: 1 1 400px;
        border: 1px solid #000;
        font-size: 1.5rem;
        p {
          font-size: 1rem;
        }
      }
      img {
        flex: 1 1 400px;
      }
    }
  }
}

// @media screen and (min-width: 700px) and(max-width: 900px) {
//   body {
//     header {
//       section.logo {
//         flex-direction: column;
//         img {
//           width: 50vw;
//           height: 50vw;
//         }
//       }
//       nav {
//         ul {
//           flex-direction: column;
//           li {
//             padding: 0.5rem 0.25rem;
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 700px) {
  body {
    header {
      section.logo {
        flex-direction: column;
        flex: 2 1 400px;
        img {
          width: 10vw;
          height: 10vw;
        }
      }
      nav {
        ul {
          padding: 0;
          flex-direction: column;

          li {
            text-align: center;
            padding: 0.5rem 0.25rem;
          }
        }
      }
    }
  }
}

.current-page {
  color: $themeColor;
}

@import "./footer";
@import "./about";
@import "./udemy";
@import "./nav";
