* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

body {
  font: 16px/1.5 "Helevtica Neue", Helevtica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}
body .home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 680px;
  background-color: #272725;
  font-size: 1.15rem;
  font-weight: 300;
  font-family: "Microsoft JhengHei", serif;
}
body .home .desc {
  flex: 0 1 700px;
  flex-wrap: wrap;
  margin-left: 3rem;
}
body .home .desc .motto {
  position: relative;
  width: 600px;
  height: 250px;
  font-size: 4rem;
  font-weight: 900;
  color: rgba(7, 251, 174, 0.5);
  font-style: italic;
  overflow: hidden;
}
body .home .desc .motto .one {
  position: absolute;
  width: 600px;
  overflow: hidden;
  animation-name: moveIn;
  animation-duration: 1.5s;
}
body .home .desc .motto .two {
  position: absolute;
  width: 600px;
  overflow: hidden;
  animation-name: moveIn;
  animation-duration: 1.8s;
}
body .home .desc .desc-text {
  width: 600px;
  font-size: 1.5rem;
  font-weight: 900;
  color: whitesmoke;
}
body .home .border-img {
  flex: 1 1 360px;
  max-width: 600px;
  height: 340px;
  margin-right: 3rem;
  --border-angle: 0turn;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - 6px) calc(100% - 6px), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: backgroundSpin 3s linear infinite;
}
@keyframes backgroundSpin {
  to {
    --border-angle: 1turn;
  }
}
body .home .border-img img {
  margin-left: 6px;
  margin-top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
}

@media screen and (max-width: 1200px) {
  body .home {
    flex-direction: column;
    justify-content: center;
  }
  body .home .desc {
    flex: 1 1 500px;
    margin-left: 0;
    margin-top: 2rem;
  }
  body .home .border-img {
    flex: 1 1 600px;
    margin-right: 0;
    margin-bottom: 1rem;
    max-width: 80vw;
    width: 800px;
  }
}
@media screen and (max-width: 680px) {
  body .home .desc {
    flex: 1 1 300px;
  }
  body .home .desc .desc-text,
  body .home .desc .motto {
    max-width: 90vw;
    height: 120px;
    font-size: 1.75rem;
  }
  body .home .desc .desc-text {
    height: auto;
    font-size: 1.25rem;
  }
  body .home .border-img {
    flex: 1 1 300px;
    width: 90vw;
    height: 50vw;
    margin: 1rem 0;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
@keyframes moveIn {
  0% {
    left: 600px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: black;
  min-height: 300px;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 80vw;
}
.footer ul li {
  margin: 1rem;
  color: rgb(175, 175, 167);
}
.footer ul li h3 {
  color: rgb(203, 203, 199);
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.footer ul li p {
  font-size: 1rem;
}
.footer .logo-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 0 1 80vw;
  margin-bottom: 2rem;
}

@media screen and (max-width: 692px) {
  .footer ul {
    justify-content: start;
  }
  .footer ul li {
    margin: 0.5rem 3rem;
  }
  .footer .logo-icon {
    flex: 1 1 200px;
  }
}
@media screen and (max-width: 580px) {
  .footer ul {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 0;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.15rem;
  font-family: "Microsoft JhengHei", serif;
}
.about .my-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.about .my-info .my-picture {
  width: 136px;
  height: 158px;
  margin-top: 2rem;
  margin-right: 6rem;
  border: 1px solid rgba(140, 245, 184, 0.641);
  overflow: hidden;
}
.about .my-info .my-picture img {
  width: 136px;
}
.about .my-info .my-info-text {
  flex: 0 1 800px;
}
.about .my-info .my-info-text h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
.about .my-info .my-info-text .contact a {
  margin-left: 0.5rem;
  font-weight: 500;
  color: rgba(1, 86, 37, 0.641);
  text-decoration: none;
}
.about .skills {
  position: relative;
  background: white;
  margin: 2rem 1rem;
}
.about .skills::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: block;
  background-color: #ffffff;
  background-image: linear-gradient(45deg, transparent 49%, rgba(127, 183, 150, 0.5) 50%, transparent 51%);
  background-size: 5px 5px;
  right: -1rem;
  bottom: -1rem;
  z-index: -1;
}
.about .skills h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
}
.about .skills .my-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1024px;
  min-height: 280px;
}
.about .skills .my-skills .each-skill {
  margin: 1rem 2rem;
}
.about .skills .my-skills .each-skill .css-gold-star {
  display: none;
}
.about .skills .my-skills .each-skill h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.about .skills .my-skills .each-skill ul li {
  font-weight: 300;
  list-style-type: disc;
}
.about .skills .my-skills .each-skill ul li .gold-star {
  padding-right: 0.25rem;
}
.about .skills .skill-arrow-button-left,
.about .skills .skill-arrow-button-right {
  display: none;
}
.about .skills .skills-logo {
  position: absolute;
  top: 260px;
  left: 480px;
  display: flex;
}
.about .skills .skills-logo .specialization {
  align-self: center;
}
.about .skills .skills-logo .specialization .gold-star {
  color: rgb(251, 255, 4);
}
.about .skills .skills-logo .specialization small {
  font-size: 0.5rem;
  font-style: italic;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: rgba(94, 92, 96, 0.5);
}
.about .skills .skills-logo ul {
  display: flex;
  padding-left: 1rem;
}
.about .skills .skills-logo ul li {
  margin-right: 1.5rem;
}
.about .edu,
.about .exp {
  width: 90vw;
  margin-bottom: 1.5rem;
}
.about .edu h2,
.about .exp h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
.about .edu h2 svg,
.about .exp h2 svg {
  height: 2.5rem;
  margin-right: 1rem;
}
.about .edu h2 small,
.about .exp h2 small {
  font-size: 0.5rem;
}
.about .edu .timeline-block,
.about .exp .timeline-block {
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px;
}
.about .edu .timeline-block h3,
.about .exp .timeline-block h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.about .edu .timeline-block h3 small,
.about .exp .timeline-block h3 small {
  font-size: 0.5rem;
  color: rgba(94, 92, 96, 0.5);
}
.about .edu .timeline-block p,
.about .exp .timeline-block p {
  font-weight: 300;
}
.about .edu .timeline-block p small,
.about .exp .timeline-block p small {
  font-size: 0.15rem;
  color: rgba(94, 92, 96, 0.5);
}
.about .edu .timeline-block::before,
.about .exp .timeline-block::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid rgba(57, 54, 59, 0.5);
  border-radius: 50%;
  left: -7px;
  top: -2px;
}
.about .edu .timeline-block::after,
.about .exp .timeline-block::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgba(57, 54, 59, 0.5);
  left: -1px;
  top: 13px;
}
.about .edu-content {
  display: flex;
}
.about .edu-content .edu-text {
  width: 50%;
  padding-right: 2rem;
}
.about .edu-content .edu-img {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(../ICONS/seedling-solid.svg);
  background-size: 10px;
  background-repeat: round;
  position: relative;
}
.about .edu-content .edu-img::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: white;
}
.about .edu-content .edu-img .circle {
  position: relative;
  width: 150px;
  height: 150px;
  border: 5px solid rgba(127, 183, 150, 0.5);
  border-radius: 50%;
  margin: 0 1rem;
  overflow: hidden;
}
.about .edu-content .edu-img .circle .filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 2rem;
  color: rgba(233, 196, 255, 0.5);
  line-height: 150px;
  text-align: center;
}
.about .edu-content .edu-img .circle .fcu-logo {
  width: 140px;
  cursor: pointer;
}
.about .edu-content .edu-img .circle .fcu-rank {
  position: absolute;
  top: 5%;
  max-width: 140px;
  cursor: pointer;
}
.about .edu-content .edu-img .circle .fcu-project {
  position: absolute;
  z-index: 0;
  max-width: 140px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .about .my-info {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .about .my-info .my-picture {
    height: 136px;
    border: 1px solid rgba(140, 245, 184, 0.641);
    border-radius: 50%;
    margin: 1rem 0 1.5rem 0;
  }
  .about .my-info .my-info-text {
    flex: 0 1 0;
    width: 80vw;
  }
  .about .my-info .my-info-text h2 {
    text-align: center;
  }
  .about .my-info .my-info-text .contact {
    text-align: center;
  }
  .about .skills .my-skills {
    flex-wrap: nowrap;
    justify-content: start;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 280px;
    overflow-x: auto;
  }
  .about .skills .my-skills .each-skill {
    min-width: 220px;
    margin: 1rem 0;
  }
  .about .skills .my-skills .program-skill {
    margin-left: 2rem;
  }
  .about .skills .skills-logo {
    top: 260px;
    left: 260px;
  }
}
@media screen and (max-width: 960px) {
  .about .skills .my-skills {
    flex-wrap: wrap;
    justify-content: start;
  }
  .about .skills .my-skills .each-skill:not(.program-skill) {
    display: none;
  }
  .about .skills .my-skills .each-skill {
    min-width: auto;
    margin: 1rem 2rem;
    padding-left: 8%;
  }
  .about .skills .my-skills .each-skill .css-gold-star {
    display: none;
  }
  .about .skills .skill-arrow-button-left {
    position: absolute;
    left: 25%;
    top: 85%;
    display: inline-block;
    font-size: 2rem;
    color: rgba(84, 223, 230, 0.5);
  }
  .about .skills .skill-arrow-button-left:hover {
    color: rgba(83, 101, 237, 0.5);
    transform: scale(1.5);
  }
  .about .skills .skill-arrow-button-right {
    position: absolute;
    right: 25%;
    top: 85%;
    z-index: 10;
    display: inline-block;
    font-size: 2rem;
    color: rgba(84, 223, 230, 0.5);
  }
  .about .skills .skill-arrow-button-right:hover {
    color: rgba(83, 101, 237, 0.5);
    transform: scale(1.5);
  }
  .about .skills .skills-logo {
    left: 75%;
    top: 30%;
    border-left: 3px dashed rgba(127, 183, 150, 0.5);
    transform: translate(-50%, 0%);
    width: 50%;
    height: 50%;
  }
  .about .skills .skills-logo .specialization {
    position: absolute;
    left: 35%;
    top: -22%;
  }
  .about .skills .skills-logo ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1.15rem;
  }
  .about .skills .skills-logo ul li {
    margin: 0.5rem;
  }
  .about .edu-content {
    display: block;
  }
  .about .edu-content .edu-text {
    width: 100%;
  }
  .about .edu-content .edu-img {
    width: 100%;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  .about .skills .my-skills {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .skills .my-skills .each-skill:not(.program-skill) {
    display: none;
  }
  .about .skills .my-skills .each-skill {
    min-width: auto;
    padding-left: 0;
  }
  .about .skills .my-skills .each-skill .css-gold-star {
    display: inline-block;
  }
  .about .skills .skill-arrow-button-left {
    left: 8%;
    top: 60%;
    font-size: 1.75rem;
  }
  .about .skills .skill-arrow-button-right {
    right: 8%;
    top: 60%;
    font-size: 1.75rem;
  }
  .about .skills .skills-logo {
    left: 50%;
    top: 85%;
    transform: translate(-50%, 0%);
    border-left: 0;
    width: auto;
    height: auto;
  }
  .about .skills .skills-logo .specialization {
    position: static;
  }
  .about .skills .skills-logo ul {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .about .edu-content .edu-img {
    flex-direction: column;
    margin: 0 auto;
  }
  .about .edu-content .edu-img .circle {
    margin: 1rem;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}
.udemy-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  max-width: 100vw;
  background-image: url("../images/udemy_bgi.jpg");
  background-size: cover;
}
.udemy-container ul {
  padding: 0;
}
.udemy-container ul:first-child {
  margin-top: 1rem;
}
.udemy-container ul li {
  margin-bottom: 1rem;
}
.udemy-container ul li h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
}
.udemy-container ul li .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 1rem;
}
.udemy-container ul li .card-container .card {
  flex-grow: 1;
  flex-basis: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.15rem;
  width: 18rem;
}
.udemy-container ul li .card-container .card .card-title {
  font-size: 2rem;
}
.udemy-container ul li .card-container .card .card-text {
  max-height: 220px;
  overflow-y: auto;
  font-size: 1.5rem;
  font-family: "Microsoft JhengHei", serif;
}

@media screen and (max-width: 500px) {
  .udemy-container ul li .card-container .card {
    margin: 1rem 0rem;
    max-width: 18rem;
  }
  .udemy-container ul li .card-container .card .card-img-top {
    width: 18rem;
  }
  .udemy-container ul li .card-container .card .card-body {
    width: 18rem;
  }
}
@media screen and (max-width: 380px) {
  .udemy-container ul li .card-container .card {
    margin: 1rem 0rem;
    max-width: 15rem;
  }
  .udemy-container ul li .card-container .card .card-img-top {
    width: 15rem;
  }
  .udemy-container ul li .card-container .card .card-body {
    width: 15rem;
  }
}
.my-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  background: white;
}
.my-navbar section.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 350px;
}
.my-navbar section.logo img {
  width: 6vw;
  height: 6vw;
}
.my-navbar section.logo h1 {
  font-size: 2.5rem;
}
.my-navbar .bars {
  display: none;
}
.my-navbar nav {
  flex: 5 1 610px;
}
.my-navbar nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.my-navbar nav ul li a {
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.my-navbar nav ul li a:hover {
  color: rgba(152, 57, 255, 0.5);
  transition: all 0.2s ease;
}
.my-navbar nav ul li .current-page {
  color: rgba(152, 57, 255, 0.5);
  border-bottom: 3px solid rgba(152, 57, 255, 0.5);
}

@media screen and (max-width: 960px) {
  .my-navbar {
    justify-content: space-between;
  }
  .my-navbar section.logo {
    flex: 0 1 350px;
  }
  .my-navbar section.logo img {
    width: 56px;
    height: 56px;
  }
  .my-navbar .bars {
    display: inline-block;
    margin-right: 3rem;
    padding: 0.025rem 1rem;
    border: 1px solid rgba(94, 92, 96, 0.5);
    font-size: 1.5rem;
    color: rgba(94, 92, 96, 0.5);
    border-radius: 5%;
  }
  .my-navbar nav ul {
    flex-direction: column;
    display: none;
    padding: 0;
  }
  .my-navbar nav ul li {
    margin-left: 6vw;
    padding: 0.5rem 0.25rem;
  }
  .my-navbar nav ul li a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .my-navbar section.logo {
    flex-direction: column;
    flex: 2 1 400px;
  }
  .my-navbar section.logo img {
    width: 10vw;
    height: 10vw;
  }
  .my-navbar section.logo h1 {
    font-size: 2rem;
  }
  .my-navbar .bars {
    display: inline-block;
    margin: 0;
    border-radius: 0%;
    width: 100vw;
    text-align: center;
  }
  .my-navbar nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .my-navbar nav ul li {
    margin-left: 0;
    text-align: center;
    padding: 0.5rem 0.25rem;
  }
  .my-navbar nav ul li a {
    font-size: 1.15rem;
  }
}/*# sourceMappingURL=style.css.map */