* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
ul,
ol {
  list-style: none;
}

body {
  font: 16px/1.5 "Helevtica Neue", Helevtica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 680px;
    background-color: #272725;
    font-size: 1.15rem;
    font-weight: 300;
    font-family: "Microsoft JhengHei", serif;
    .desc {
      flex: 0 1 700px;
      flex-wrap: wrap;
      margin-left: 3rem;
      .motto {
        position: relative;
        width: 600px;
        height: 250px;
        font-size: 4rem;
        font-weight: 900;
        color: rgba(7, 251, 174, 0.5);
        font-style: italic;
        overflow: hidden;
        .one {
          position: absolute;
          width: 600px;
          overflow: hidden;
          animation-name: moveIn;
          animation-duration: 1.5s;
        }
        .two {
          position: absolute;
          width: 600px;
          overflow: hidden;
          animation-name: moveIn;
          animation-duration: 1.8s;
        }
      }
      .desc-text {
        width: 600px;
        font-size: 1.5rem;
        font-weight: 900;
        color: whitesmoke;
      }
    }
    .border-img {
      flex: 1 1 360px;
      max-width: 600px;
      height: 340px;
      margin-right: 3rem;
      // border動畫
      --border-angle: 0turn;
      background-image: conic-gradient(
          from var(--border-angle),
          #213,
          #112 50%,
          #213
        ),
        conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
      background-size: calc(100% - 6px) calc(100% - 6px), cover;
      background-position: center center;
      background-repeat: no-repeat;
      animation: backgroundSpin 3s linear infinite;
      @keyframes backgroundSpin {
        to {
          --border-angle: 1turn;
        }
      }
      img {
        margin-left: 6px;
        margin-top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    .home {
      flex-direction: column;
      justify-content: center;
      .desc {
        flex: 1 1 500px;
        margin-left: 0;
        margin-top: 2rem;
      }
      .border-img {
        flex: 1 1 600px;
        margin-right: 0;
        margin-bottom: 1rem;
        max-width: 80vw;
        width: 800px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  body {
    .home {
      .desc {
        flex: 1 1 300px;
        .desc-text,
        .motto {
          max-width: 90vw;
          height: 120px;
          font-size: 1.75rem;
        }
        .desc-text {
          height: auto;
          font-size: 1.25rem;
        }
      }
      .border-img {
        flex: 1 1 300px;
        width: 90vw;
        height: 50vw;
        margin: 1rem 0;
      }
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes moveIn {
  0% {
    left: 600px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}

@import "./footer";
@import "./about";
@import "./udemy";
@import "./nav";